@import url('https://fonts.googleapis.com/css?family=Raleway');

*,*::before,*::after{
    box-sizing: border-box;
}


* {
    font-family: Raleway;
}

/* to center the body overall and give it a nice white shade */
html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDFDF;
}

body{
    margin: 0;
    padding: 0;
}

.progress-bar{
    position: relative;
    width: 500px;
    /* wrt to the size of the text inside */
    height: 3em;
    background-color: rgb(29, 29, 29);
    color: rgb(206, 206, 206);
    border-radius: 1.5em;
}