@import url('https://fonts.googleapis.com/css?family=Raleway');

*,*::before,*::after{
    box-sizing: border-box;
}


* {
    font-family: Raleway;
}

/* to center the body overall and give it a nice white shade */
html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDFDF;
}

body{
    margin: 0;
    padding: 0;
}

.progress-bar{
    position: relative;
    width: 500px;
    /* wrt to the size of the text inside */
    height: 3em;
    background-color: rgb(29, 29, 29);
    color: rgb(206, 206, 206);
    border-radius: 1.5em;
}

.progress-bar::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    /* multiplying with 1% to make it percent */
    width: calc(var(--width,0) * 1%);
    min-width: 1rem;
    max-width: calc(100% -1em);
    background-color: #069;
    border-radius: 1em;
    padding: 1em;
}